body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8; /* Fondo azul claro */
    color: #333; /* Color de texto oscuro */
}

header {
    background-color: #4a148c; /* Morado oscuro */
    color: white;
    padding: 40px 0;
    text-align: center;
    position: relative;
    background-image: url('images/libros1.jpg'); /* Imagen de fondo */
    background-size: cover; /* Imagen cubre todo el área */
    background-position: center; /* Imagen centrada */
    height: 400px; /* Ajusta la altura del header */
}

header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0 20px;
}

header h1 {
    font-size: 36px;
    z-index: 1; /* Asegura que el texto del título esté encima de la imagen */
}

header p {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Alineación perfecta */
    font-size: 24px;
    font-weight: bold;
    color: white; /* Texto en blanco */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra para mayor visibilidad */
}

nav {
    background-color: #6a1b9a; /* Morado más claro para la barra de navegación */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.resaltar {
    color: #3f51b5; /* Azul vibrante para resaltar */
    font-weight: bold;
}

.whatsapp-button {
    background-color: #25D366; /* Verde clásico de WhatsApp */
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

footer {
    background-color: #4a148c; /* Mismo morado oscuro para el pie de página */
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

/* Estilo para el enlace de Instagram */
.social-link {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

.social-link:hover {
    text-decoration: underline;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    header {
        padding: 20px;
        height: 300px; /* Ajusta la altura del header en dispositivos móviles */
    }

    header .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header h1 {
        font-size: 28px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }
}

