body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8; /* Fondo azul claro */
    color: #333; /* Color de texto oscuro */
}

header {
    background-color: #4a148c; /* Morado oscuro */
    color: white;
    padding: 40px 0;
    text-align: center;
}

nav {
    background-color: #6a1b9a; /* Morado más claro para la barra de navegación */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.resaltar {
    color: #3f51b5; /* Azul vibrante para resaltar */
    font-weight: bold;
}

.whatsapp-button {
    background-color: #25D366; /* Verde clásico de WhatsApp */
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

footer {
    background-color: #4a148c; /* Mismo morado oscuro para el pie de página */
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}
